* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    padding: 60px 120px 5px 120px;
}


:root {
  --font-family: 'Roboto', sans-serif;
  --font-size-head: 3rem;
  --font-size-subhead: 1.5rem;
}

.main {
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: auto auto 1fr; 
    grid-gap: 30px;
    grid-template-areas: 
    "search search search"
    "title current current"
    "forecast forecast forecast"
    ;
}
.display {
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
    margin: 0px;
}
.container-search {
    grid-area: search;
    padding: 1.5rem;
}
.recent-search-container {
  display: flex;
  flex-direction: row;
}
#clear-search {
  margin-left: 40px;
  
}



/* CURRENT WEATHER TITLE DISPLAY */
.container-title {
  grid-area: title;
  padding: 1rem 2rem 1rem 2rem;
  font-family: var(--font-family);
  display: inline-block
}

.current-title-t {
  float: left;
  margin-top: 10px;
}
.cur-icon-t {
  float: right;
}

#cur-city-name-t {
  font-size: var(--font-size-head);
}





/* CURRENT WEATHER METRICS DISPLAY */
.container-current {
  grid-area: current;
  padding: 2rem;
  font-size: var(--font-size-subhead);
}
.current-weather-top {
  width: 100%;
  height: 50%;
  display: inline-block;
  text-align: center;
}
#cur-temp-t {
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#cur-humidity-t  {
  float: right;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.current-weather-bottom {
  width: 100%;
  height: 50%;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
}
#cur-windspeed-t {
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#cur-uvIndexValue-t  {
  float: right;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}






.container-forecast {
    grid-area: forecast;
}
.input-group {
    max-width: 500px;
} 


/* FORECAST WEATHER DISPLAY */
#forecast-weather-t {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.forecast-day-t {
    border: 1px solid black;
    border-radius: 1em;
    min-width: 50px;
    min-height: 50px;
    height: auto;
    margin: 10px;
    padding: 20px;
}












.test-light {
    background-color:lightblue;
    height: 200px;
    margin: 30px;
}
.test-dark {
    background-color: darkblue;
    height: 200px;
    margin: 30px;
}



/* THEME SLIDER */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }