:root {
  --main-background: #D4C4B4;
  --font-family: 'Poppins', sans-serif;
  --font-size-head: 3rem;
  --font-size-subhead: 1.8rem;
  --font-size-text: 1rem;

  --light-background-color: #E5E5E5;
  --light-font-color: #121825;
}
body {
  width: 100vw;
  height: 100vh;
}
.main {
  background-color: var(--light-background-color);
  height: auto;
  color: var(--light-font-color);
}

.display {
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  margin: 0px;
  box-shadow: 0 0 12px 6px rgba(0,0,0,0.05);
  border-radius: 0.5rem;
}

.main {
  width: 100vw;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto auto 1fr; 
  grid-gap: 20px;
  grid-template-areas: 
  "search search search"
  "title current current"
  "forecast forecast forecast"
  ;
}






/* ----- SEARCH AREA ----- */
.container-search {
  grid-area: search;
  height: fit-content;
  padding: 3rem 3rem 1rem 3rem;
  display: flex;
  flex-direction: row;
  background-color: #848484;
  background-color: white;
}
.search-left {
  background-color: cadetblue;
  position: relative;
}
.form {
  font-size: 1rem;
  width: 400px;
  height: 50px;
  position: absolute;
  bottom: 0px;
}
.form input {
  width: 100%;
  height: 100%;
  color: black;
  font-family: var(--font-family);
  font-size: 1.8rem;;
  padding-top: 20px;
  border: none;
  outline: none;
}
.form label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
  overflow: hidden;
}
.form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid #848484;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}
.form input:focus + .label-name .content-name, 
.form input:valid .label-name .conten-name {
  transform: translateY(-120%);
  color: #848484;
}
.form input:focus + .label-name::after, 
.form input:valid + .label-name::after {
  transform: translateX(0%)
}
.search-right {
  position: relative;
  left: 420px;
  display: flex;
  flex-direction: row;
}
.recent-search-container {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}
.recent-btn {
  margin-right: 0.5rem;
}
#clear-search {
  margin-left: 20px;
  height: fit-content;
}

/* ----- CURRENT WEATHER TITLE DISPLAY ----- */
.container-title {
  grid-area: title;
  margin-top: 0.5rem;
  margin-left: 6rem;
  padding: 1rem 2rem 1.5rem 2rem;
  font-family: var(--font-family);
  display: inline-block
}
.current-title-t {
  float: left;
  margin-top: 10px;
}
.cur-icon-t {
  float: right;
}
#cur-city-name-t {
  font-size: var(--font-size-head);
  font-weight: 600;
}
#cur-description-t {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* ------ CURRENT WEATHER METRICS DISPLAY ------ */
.container-current {
  grid-area: current;
  margin-top: 0.5rem;
  margin-right: 6rem;
  padding: 2rem;
  font-size: var(--font-size-subhead);
}
.current-weather-top {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 10px;
}
.metric-display {
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: var(--font-family);
}
.metric-number {
  font-size: var(--font-size-subhead);
  font-weight: 600;
}
.metric-heading {
  font-size: var(--font-size-text);
}


.current-weather-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

/* ------ FORECAST WEATHER DISPLAY ------ */
.container-forecast {
  grid-area: forecast;
  margin: 0 6rem 6rem 6rem;
}
.input-group {
  max-width: 500px;
} 

#forecast-weather-t {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.forecast-day-t {
  font-family: var(--font-family);
  font-weight: 600;
  border: 1px solid black;
  border-radius: 1em;
  width: 20rem;
  height: auto;
  margin: 10px;
  padding: 20px;
  text-align: center;
}
.fore-date-day-t {
  font-size: 1.5rem;
}
.fore-date-full-t {
  font-size: var(--font-size-text);
  font-weight: 200;
  font-style: italic;
}
.fore-temp-t {
  font-size: 1.3rem;
  font-weight: 600;
}
.fore-temp-desc-t {
  font-weight: 400;
}



@media (max-width: 1100px) {
  .container-search {
    align-content: center;
  }


  .metric-number {
    font-size: 1.5rem;
  }
  .metric-heading {
    font-size: 0.9rem;
  }
  .recent-search-container {
    display: none;
  }
  #forecast-weather-t {

    align-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 970px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto; 
    grid-gap: 20px;
    grid-template-areas: 
    "search search search"
    "title title title"
    "current current current"
    "forecast forecast forecast"
    ;
  }
  
  .container-title {
    grid-area: title;
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .current-title-t {
    margin-left: 4rem;
  }
  .cur-icon-t {
    margin-right: 3.75rem;
  }
  .container-current {
    grid-area: current;
    margin-top: 0;
    margin-left: 6rem;
  }

}

@media (max-width: 768px) {
  .main {
    width: 100vw;
  }
  .container-title {
    grid-area: title;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .current-title-t {
    margin-left: 2rem;
  }
  .cur-icon-t {
    margin-right: 2rem;
  }
  .container-current {
    grid-area: current;
    margin-left: 3rem;
    margin-right: 3rem;
  } 

}













/* THEME SLIDER */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

